.infocontainer{
    text-align: center;
    padding: 2px;
    border: 1px solid #ccc;
}
img{
    width: 100%;
}

.jumbotron-img{
    background-image: url('http://www.teavalleyresort.com/assets/images/adventure_activities/tent-camping-big.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: repeat-x;
    color: #fff;
}

.thumbnail{
    border: 1px solid #ccc;
    margin: 0 5px;
}
/* .col-sm-6__modifiy{
    max-width:24%;
    padding: 0;
    margin: 0.5%;
    border: 1px solid #ccc;
}*/
.infocontainer:hover{
    box-shadow: 2px 1px 10px #888888;
} 

.thumbnail:hover{
    box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.25);
}