.info{
    background-color: #eaeaea;
    margin-top: 15px;
}
.info__img{
    width:100%;
}
.info__title{
    display: inline-block;
}
.info__price{
    display: inline;
    float: right;
}
.info-details{
    padding: 10px
}

.comment-section{
    background-color: #ddd9d940;
    margin: 15px 0;
    padding: 0 10px ;
}

.btn-danger__low-padding{
    padding: 0 5px;
    transform: scale(0.8);
}
.comments{
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    padding: 5px;
}
.comments p{
    margin-bottom: 2px;
}
.comments__textarea{
    background: none;
    outline: none;
    resize: none;
}
.comments__textarea:focus{
    background-color: aliceblue;
}
