/* .info{
    background-color: #eaeaea;
    margin-top: 15px;
}
.info__img{
    width:100%;
}
.info__title{
    display: inline-block;
}
.info__price{
    display: inline;
    float: right;
}
.info-details{
    padding: 10px
}

.container__low-padding{
    margin: 0;
    max-width: 100%;
    padding: 0 15px;
}

.col-sm-3__noSidePadding{
    padding:15px 0;
}

.comment-section{
    background-color: #ddd9d940;
    margin: 15px 0;
    padding: 0 10px ;
}

.btn-danger__low-padding{
    padding: 0 5px;
    transform: scale(0.8);
}
.comments{
    margin-bottom: 10px;
    /*border: 1px solid #ccc;*/
    /*padding: 5px;
}
.comments p{
    margin-bottom: 2px;
    display: inline-block;
}
.comments form{
    display: inline;
    float: right;
}
.comments__textarea{
    background: none;
    outline: none;
    resize: none;
}
.comments__textarea:focus{
    background-color: aliceblue;
}


.lat{
    display: none;
}
.lng{
    display: none;
} */

.btn-toggel{
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    border-radius: 0px;
    text-align: left;
}

.btn-toggel:focus{
    box-shadow: none;    
}


#map{
    width: 100%;
    height: 300px;
}

.info img{
    width: 100%;
}

.info-details{
    padding: 10px;
    background-color: #e6e3e3;
}
.info-details h3{
    text-transform: capitalize;
}

.row{
    margin: 0;
}

.row__modified{
    padding-top: 90px;
}