<% include partials/header %>
<link rel="stylesheet" href="/style/camp.css">
<% include partials/nevigation %>

<div class="container">
    <div class="jumbotron">
        <h1>WLECOME to YelpCamp!</h1>
        <p>see a bunch of capms from around the world there</p>
        <a href="/campgrounds/new"><button class="btn btn-primary">Add camps</button></a>
    </div>

    <div class="container">
        <div class='row'>
            <% campgrounds.forEach(function(camps){%>
                <div class="col-md-3 col-sm-6 col-sm-6__modifiy">
                    <img src="<%= camps.image%>">
                    <div class="infocontainer">
                        <h4><%= camps.name%></h4>
                        <a href="/campgrounds/<%=camps.id%>"><button class='btn btn-primary'>info</button></a>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
        <!--a href="/"-->
</div>



<% include ./partials/footer %>
