<% include partials/header %>
<% include partials/nevigation %>



    <div class="jumbotron container jumbotron-fluid">
        <div class="container">
            <h1>WLECOME! to yelpcamp</h1>
            <p>see a bunch of capms there</p>
            <a href="/campgrounds"><button type="button" class="btn btn-primary btn-lg">camps</button></a>
        </div>
    </div>


<% include partials/footer %>
