<% include partials/header %>
<link rel="stylesheet" href="/style/new.css">
<% include partials/nevigation %>

    <h3 class='text-center mt-5'>Add A New Campground</h3>
        <form action="/campgrounds" class="form" method= "POST">
            <input type="text" class='input' name="name" placeholder="Name">
            <input type="text" class='input' name="image" placeholder="URL">
            <textarea type="text" class='input' name="discription" placeholder="discription" rows='8'></textarea>
            <input type="text" name="location" class='input' id="location" placeholder="location">
            <br>
            <button class="btn mt-3 btn-dark">Submit</button>
        </form>

<% include partials/scripts %>
<% include partials/footer %>
