<! DOCUMENT html>
<html>
    <header>
        <title>
            New
        </title>
    </header>

    <body>

        <form action="/campgrounds" method= "POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="image" placeholder="URL">
            <button>Submit</button>
        </form>

    </body>
</html>
