<% include partials/header %>
<link rel="stylesheet" href="/style/new.css">
<% include partials/nevigation %>

        <form action="/campgrounds" class="form" method= "POST">
            <input type="text" class='input' name="name" placeholder="Name">
            <input type="text" class='input' name="image" placeholder="URL">
            <textarea type="text" class='input' name="discription" placeholder="discription" rows='8'></textarea>
            <input type="text" name="location" id="location" placeholder="location">
            <br>
            <button class="btn btn-primary btn-dark">Submit</button>
        </form>

<% include partials/footer %>
